<div class="modal fade" id="EditPlaylistModal" tabindex="-1" role="dialog" aria-labelledby="EditPlaylistModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="EditPlaylistModalLabel">Rename playlist</h4>
      </div>
      <div class="modal-body">
        <%= form_for (@playlist), :html => {:class => "form-horizontal"} do |form| %>
            <fieldset>
              <div class="control-group">
                <div class="input-group">
                  <span class="input-group-addon">name</span>
                  <%= form.text_field :name, :class => 'form-control' %>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <%= form.submit :class => "btn btn-primary", 'value' => 'Rename' %>
              </div>
            </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="AddClipModal" tabindex="-1" role="dialog" aria-labelledby="AddClipModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="AddClipModalLabel">Add new clip</h4>
      </div>
      <div class="modal-body">
        <%= form_for :clip, :html => {:class => "form-horizontal"}, method: :create, url: "../clips" do |form| %>
        <div class="input-group">
          <span class="input-group-addon">url</span>
          <%= form.text_field( :yt_id, :class => 'form-control', :placeholder => "http://", :value => "" )%>
        </div>
        <label>Description</label>
        <%= form.text_area( :description, :class => 'form-control', :rows => 3, :value => "") %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= form.submit :class => "btn btn-primary", 'value' => 'Add' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ManageUsersModal" tabindex="-1" role="dialog" aria-labelledby="ManageUsersModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="ManageUsersModalLabel">Manage users</h4>
      </div>
      <div class="modal-body">
        <%= form_for :playlist_contributor, :html => {:class => "form-horizontal"}, method: :create, url: "../playlist_contributors" do |form| %>
            <label> Invite friend</label>

            <div class="input-group">
              <%= form.text_field(:user_id, :class => 'form-control', :placeholder => "username", :value => "") %>
              <span class="input-group-btn">
                            <%= form.submit :class => "btn btn-default", 'value' => 'Add' %>
                        </span>
        <% end %>
        </div>

        <% if @playlist.contributors.all.any? then %>
            <div id="contributors-panel" class="panel panel-default">

              <div class="panel-heading">Playlist viewers</div>

            <%= form_for :user_id, :url => {:controller => 'playlist_contributors', :action => 'destroy'}, :html => {:method => :delete} do |form| %>

                <table id="contributors-table" class="table">
                  <tr>
                    <th>User</th>
                    <th class="contr-table-right-column">Remove</th>
                  </tr>

                  <% @playlist.contributors.all.map { |u| User.find(u.user_id).nick }.each do |contr| %>

                      <tr>
                        <td><%= contr %></td>
                        <td class="contr-table-right-column">
                          <%= check_box_tag "contributor_nick[#{contr}]" %>
                        </td>
                      </tr>
                  <% end %>
                </table>

                <%= form.submit :class => "btn btn-default btn-danger center-btn", :id => 'del-contr-btn', 'align' => 'center', 'value' => 'Remove selected users' %>
            <% end %>
            </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>

      </div>
    </div>
  </div>
</div>

<div id="wrapper">

  <div id="sidebar-wrapper">
    <div class="sidebar-nav">
      <div class="btn-group settings-buttons">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#AddClipModal">
          <span class="glyphicon glyphicon glyphicon-plus"></span> Add clip
        </button>

        <div class="btn-group">
          <button type="button" class="btn btn-default" id="playlist-settings-btn" data-toggle="dropdown">
            <span class="glyphicon glyphicon glyphicon-cog"></span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="playlist-settings-btn">
            <li><a href="#" data-toggle="modal" data-target="#EditPlaylistModal">Rename</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation">
              <%= link_to 'Delete playlist', @playlist, method: :delete, data: {confirm: 'Are you sure you want to delete playlist with all clips?'}, 'tabindex' => '-1', 'role' => 'menuitem' %>
            </li>
          </ul>
        </div>

        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ManageUsersModal">
          <span class="glyphicon glyphicon glyphicon-user"></span> Users
          <span class="badge"><%= @playlist.contributors.count %></span>
        </button>
      </div>

      <h2><%= @playlist.name %></h2>
      <ul class="sidebar-list">

        <% if not @playlist.clips.empty? then
             @playlist.clips.each do |clip| %>
                <li>
                  <div class="item-list-item">
                    <a class="item-preview-img-a-small" href="/playlists/<%= @playlist.id %>/clips/<%= clip.id %>">
                                <span class="thumb-img-span">
                                    <img class="preview-img-small" src="<%= clip.thumbnail %>" width="100"/>
                                </span>
                      <span class="clip-name"><%= clip.title %></span>
                    </a>
                  </div>
                </li>

            <% end end %>

      </ul>
    </div>
  </div>
  <div id="page-content-wrapper">
    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="well current-clip-container">
              <% if not @playlist.clips.empty?  %>

                  <input name="star2" type="radio" class="star"/>
                  <input name="star2" type="radio" class="star"/>
                  <input name="star2" type="radio" class="star" checked="checked"/>
                  <input name="star2" type="radio" class="star"/>
                  <input name="star2" type="radio" class="star"/>

              <h1><%= @clip.title %></h1>
              <h3><%= @clip.description %></h3>
              <iframe width="853" height="480" src="//www.youtube.com/embed/<%= @clip.yt_id %>?vq=hd720" frameborder="0" allowfullscreen></iframe>
              <% else %>
                <h2>Feel free to add your first clip</h2>
                  <br/>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddClipModal">
                    <span class="glyphicon glyphicon glyphicon-plus"></span> Add now
                  </button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>