<div class="modal fade" id="NewPlaylistModal" tabindex="-1" role="dialog" aria-labelledby="NewPlaylistModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="NewPlaylistModalLabel">Create playlist</h4>
      </div>
      <div class="modal-body">
        <%= form_for :playlist, :html => {:class => "form-horizontal"} do |form| %>
            <fieldset>
              <div class="control-group">
                <div class="input-group">
                  <span class="input-group-addon">name</span>
                  <%= form.text_field :name, :class => 'form-control' %>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <%= form.submit :class => "btn btn-primary", 'value' => 'Add' %>
              </div>
            </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Hawks2 YT.</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Playlists</a></li>
        <li><a href="#" data-toggle="modal" data-target="#NewPlaylistModal">New playlist</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="username">
              <input type="password" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-default">Log in</button>
          </form>
        </li>
        <li><a href="#">Sign up</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="wrapper" class="single-container">


  <% if @playlists.empty? %>
      <div class="jumbotron">
        <h1>Hello, Andrzej!</h1>

        <p><a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#NewPlaylistModal" role="button">Add
          your first playlist</a></p>
      </div>
  <% else %>

      <div id="playlist-container">
        <ul>

          <% @playlists.each do |playlist| %>

              <li>
                <div class="pl-item">
                  <h2 class="pl-item-name">
                    <%= link_to playlist.name, playlist_path(playlist) %>
                  </h2>

                  <div class="pl-item-clips-container">
                    <ul>
                      <% playlist.clips.each do |i| %>

                          <li>
                            <div class="clip-item">
                              <a class="item-preview-img-a" href="/playlists/<%= playlist.id %>/clips/<%= i.id %>">
                                <img class="preview-img" src="<%= i.thumbnail %>" width="200"/>
                              </a>

                              <h3 class="small">
                                <a href="/playlists/<%= playlist.id %>/clips/<%= i.id %>"><%= i.title %></a>
                              </h3>

                              <h4 class="small">
                                <p><%= playlist.updated_at.to_s %></p>
                              </h4>
                            </div>
                          </li>

                      <% end %>

                    </ul>
                  </div>
                </div>
              </li>

          <% end %>

        </ul>
      </div>
  <% end %>
</div>