<div class="modal fade" id="AddClipModal" tabindex="-1" role="dialog" aria-labelledby="AddClipModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="AddClipModalLabel">Add new clip</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <span class="input-group-addon">url</span>
          <input type="text" class="form-control" placeholder="http://">
        </div>
        <label>Description</label>
        <textarea class="form-control" rows="3"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Add</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ManageUsersModal" tabindex="-1" role="dialog" aria-labelledby="ManageUsersModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="ManageUsersModalLabel">Magage users</h4>
      </div>
      <div class="modal-body">
        <label> Invite friend</label>

        <div class="input-group">
          <input type="text" class="form-control" placeholder="username">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Add</button>
                        </span>
        </div>
        <label>Playlist viewers</label>
        <textarea class="form-control" rows="3">TODO</textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="../">Hawks2 YT.</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to 'Playlists', playlists_path %>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="username">
              <input type="password" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-default">Log in</button>
          </form>
        </li>
        <li><a href="#">Sign up</a></li>

      </ul>
    </div>
  </div>
</nav>

<div id="wrapper">

  <div id="sidebar-wrapper">
    <div class="sidebar-nav">

      <div class="btn-group settings-buttons">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#AddClipModal">
          <span class="glyphicon glyphicon glyphicon-plus"></span> New clip
        </button>

        <div class="btn-group">
          <button type="button" class="btn btn-default" id="playlist-settings-btn" data-toggle="dropdown">
            <span class="glyphicon glyphicon glyphicon-cog"></span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="playlist-settings-btn">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Rename</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation">
              <%= link_to 'Delete playlist', @playlist, method: :delete, data: { confirm: 'Are you sure you want to delete playlist with all clips?' }, 'tabindex' => '-1', 'role' => 'menuitem' %>
            </li>
          </ul>
        </div>

        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ManageUsersModal">
          <span class="glyphicon glyphicon glyphicon-user"></span> Users
        </button>

      </div>

      <h2><%= @playlist.name %></h2>
      <ul class="sidebar-list">

        <% (1..20).each do |i| %>
            <li>
              <div class="item-list-item">
                <a class="item-preview-img-a-small" href="#">
                                <span class="thumb-img-span">
                                    <img class="preview-img-small" src="<%= asset_path 'thumb.png' %>" width="100"/>
                                </span>
                  <span class="clip-name">The Rolling Stones - quite long music title # <%= i %></span>
                </a>
              </div>
            </li>

        <% end %>

      </ul>
    </div>
  </div>
  <div id="page-content-wrapper">
    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">


            <div class="well current-clip-container">
              <h1>The Rolling Stones - quite long music title</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>