<!DOCTYPE html>
<html>
<head>
  <title>AsiYT</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/popup_modals' %>
<header>
  <%= render 'layouts/header' %>
</header>

  <%= yield %>

</body>
</html>
